packages:
  msi:
    cloudwatch: https://s3.amazonaws.com/amazoncloudwatch-agent/windows/amd64/latest/amazon-cloudwatch-agent.msi
    awscli: https://s3.amazonaws.com/aws-cli/AWSCLI64PY3.msi
services:
  windows:
    AmazonCloudWatchAgent:
      enabled: 'true'
      ensureRunning: 'true'
      files:
        - "C:/ProgramData/Amazon/AmazonCloudWatchAgent/amazon-cloudwatch-agent.json"
files:
  "C:/ProgramData/Amazon/AmazonCloudWatchAgent/amazon-cloudwatch-agent.json":
    content: |
      {
          "agent": {
              "omit_hostname": true
          },
          "metrics": {
              "metrics_collected": {
                  "LogicalDisk": {
                      "measurement": [
                          "% Free Space"
                      ],
                      "metrics_collection_interval": 60,
                      "resources": [
                          "*"
                      ],
                      "append_dimensions": {
                          "WebInstance": "dummyname"
                      }
                  },
                  "Memory": {
                      "measurement": [
                          "% Committed Bytes In Use"
                      ],
                      "metrics_collection_interval": 60,
                      "append_dimensions": {
                          "WebInstance": "dummyname"
                      }
                  }
              }
          }
      }      
commands:
  00_fetch_region:
    command: "powershell wget 'https://consumer-beanwatch.s3-accelerate.amazonaws.com/Windows/cloudwatch-naming.ps1' -OutFile C:\\Windows\\Temp\\cloudwatch-naming.ps1"
    waitAfterCompletion: 0
  01_edit_json:
    command: powershell -NoProfile -ExecutionPolicy Bypass -Command "C:\\Windows\\Temp\\cloudwatch-naming.ps1"
    waitAfterCompletion: 0
  02_cat_json_post_ps:
    command: powershell cat "C:\\ProgramData\\Amazon\\AmazonCloudWatchAgent\\amazon-cloudwatch-agent.json"
    waitAfterCompletion: 0
  03_stop_service:
    command: powershell -NoProfile -ExecutionPolicy Bypass -Command "C:\\'Program Files'\\Amazon\\AmazonCloudWatchAgent\\amazon-cloudwatch-agent-ctl.ps1 -a stop"
    waitAfterCompletion: 0
  04_start_service:
    command: powershell -NoProfile -ExecutionPolicy Bypass -Command "C:\\'Program Files'\\Amazon\\AmazonCloudWatchAgent\\amazon-cloudwatch-agent-ctl.ps1 -a fetch-config -m ec2 -c file:C:\\ProgramData\\Amazon\\AmazonCloudWatchAgent\\amazon-cloudwatch-agent.json -s
    waitAfterCompletion: 0
Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      HealthCheckType: ELB
      HealthCheckGracePeriod: 900