<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
	  throwExceptions="true"
	internalLogLevel="Error" internalLogFile="C:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="myvar" value="myvalue"/>

	<!--
	
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<extensions>
		<add assembly="NLog.Web"/>
	</extensions>
	<targets>
		<target name="db" xsi:type="Database" >
			<connectionString>${gdc:item=connectionString}</connectionString>
			<commandText>
				insert into [dbo].[BC_SYSTEM_LOG] (
				CreatedOn, Level, Message, StackTrace,
				Exception, UserName, Contest, Url,RequestIP
				) values (
				@CreatedOn, @Level, @Message, @StackTrace,
				@Exception, @UserName, @Contest, @Url, @RequestIP
				);
			</commandText>

			<parameter name="@createdOn" layout="${longdate}" />
			<parameter name="@level" layout="${level:uppercase=true}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=message,type}" />
			<parameter name="@stackTrace" layout="${stacktrace:topFrames=3:skipFrames=1}" />
			<parameter name="@userName" layout="${aspnet-user-claim:ClaimTypes.Name}" />
			<parameter name="@contest" layout="${event-properties:Contest}" />
			<parameter name="@url" layout="${aspnet-request-url:IncludeQueryString=true}" />
			<parameter name="@requestIP" layout="${aspnet-request-ip}" />
		</target>
		<!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->


		<!--Write events to a file with the date in the filename.-->


	</targets>

	<rules>
		<!-- add your logging rules here -->


		<!--Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"-->
		<logger name="*" minlevel="Info" writeTo="db" />

	</rules>
</nlog>
